@import "../../node_modules/bootstrap/scss/bootstrap";

:root {
    --font-family-base: 'Inter', 'Arial', sans-serif;
    --font-weight-base: 400;
    --line-height-base: 1.5;
}

* {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);
}


